<% provide(:title, 'About Homeopathy') %>
<html>
  <head>
    <title>About Homeopathy | <%= yield(:title) %></title>
  </head>
  <body>
   
    <p>
    <h1>homeopathy india</h1>
   	  <div class="hameo_intro">
   	    <ul class="homeo">
          <li><a href="#id_1" class="scroll">HOMEOPATHY --- AN INTRODUCTION</a></li>
          <li><a href="#id_2" class="scroll">WHAT IS HOMEOPATHY?</a></li>
          <li><a href="#id_3" class="scroll">HOLISTIC APPROACH.</a></li>
          <li><a href="#id_4" class="scroll">INDIVIDUAL APPROACH.</a></li>
          <li><a href="#id_5" class="scroll">WHAT IS HOMEOPATHY CONSULTATION AND CASE TAKING?</a></li>
          <li><a href="#id_6" class="scroll"> MYTHS AND FACTS ABOUT HOMEOPATHY.</a></li>
        </ul>
      </div>

    <div id="id_1">
	<div class="hameo_intro1">
       	  	<h2>1.HOMEOPATHY --- AN INTRODUCTION</h2>
	<p>Homeopathy is an alternate system of medicine which originated in Europe over two centuries ago. Its practice, acceptance and popularity has soared heights since then, also owing to the dissatisfaction of 				    conventional drug treatment among masses due to the various side effects, limitations and gradual build up of resistance to various drugs in the conventional treatment.<br />
  	Homeopathy has recently been gaining increased attention and wide acceptance throughout world and also Indian government promotes several Homeopathic treatments as first line of preventive defense and 				 	treatment, as it represents real medical ecology, being based on purely simple, natural and universal laws.<br />
  	It is non-toxic and when properly administered does no harm to the body. It is a non-invasive treatment and works to stimulate the body’s own healing powers thus ensuring effective, safe, permanent cure in most 	</p>
    </div>
 </div>



      <div id="id_2">
      <div class="hameo_intro1">
       	  	<h2>2.  WHAT IS HOMEOPATHY?</h2>
            <p>Homeopathy is a scientific system of medicine discovered in 1976 by <a href="Dr.Samuel_Hahnemann.htm">Dr.Samuel Hahnemann</a>, a German M.D physician who was disillusioned with the techniques devised by the doctors of his time. He founded this system on the stated natural and universal principle of ‘like cures like’, or ‘what can cause can cure’ also known as “Similia similibus curantur”.<br />
            Thus Homeopathy treats illness with a natural substance which, when taken by a healthy person produces symptoms similar to those experienced by the person who is ill.</p>


      </div>
      </div>

      <div id="id_3">
      <div class="hameo_intro1">
       	  	<h2>3. HOLISTIC APPROACH.</h2>
<p>Homeopathy aims to treat each particular sick individual holistically. Homeopathy considers the Man as a whole, not just the individual parts or organs being sick or healthy. Health and sickness are the terms which represent the Man as a whole. It emphasizes the necessity of looking at the whole person- the body, mind, emotions and environment around him rather than at an isolated function or organ alone.</p>


      </div>
      </div>

      <div id="id_4">
      <div class="hameo_intro1">
       	  	<h2>4. INDIVIDUAL APPROACH.</h2>
            <p>Homeopathy believes that each person reacts differently to same stimulus, this is called individualization, which is a unique feature of Homeopathy.<br />
            In Allopathy two persons suffering from the same disease may be treated with the same medicine. However a homeopathic physician does not label a patient by the disease condition only but considers a prescription based on the totality of mental, emotional and physical characteristics of the patient, thereby individualizing each and every case.</p>


      </div>
      </div>


      <div id="id_5">
  <div class="hameo_intro1">
       	  	<h2>5. WHAT IS HOMEOPATHY CONSULTATION AND CASE TAKING?</h2>
            <p>The aim of Homeopathic consultation is to individualize each patient. Homeopathy aims to treat each particular sick individual holistically. In order to understand the sick man as a whole , we need to understand about his will, intellect, morals, emotions, stressful events in life and his reaction to them, probable causative factors of disease ( mental or physical) , his physical reactions to environment around and of course exact details of disease itself. So during a homeopathic consultation all this information is required to understand the complete picture of disease and find an exact medicine.</p>

      </div>

           </div>


           <div id="id_6">
  <div class="hameo_intro1">
       	  	<h2>6. MYTHS AND FACTS ABOUT HOMEOPATHY.</h2>
            <p>It is a myth that homeopathy is slow to act. In acute ailments like fever, diarrhea, acute infections etc, it acts as fast as conventional medicines, sometimes even faster. In chronic cases like diabetes, parkinsonism, psoriasis etc , it may require sometime to eradicate the disease completely from the body and make the body free from any medicines instead of conventional treatments which gives instant relief but the medicine has to be taken life long. </p>

      </div>
 </div>
  </p>
          

  </body>
</html>