<% provide(:title, 'About Us') %>
<html>
  <head>
    <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
  </head>
  <body>
    <h1>About Us</h1>
     <pre>
     <p> Praju Homoeopathic Forum is a Registered Charitable Trust (We Have Recognition Under u/s 80G(5)(VI) and 12A. Donations to our Trust is exempted from income tax for the donors), providing free computerized consultation and treatment for different types of chronic and acute diseases and also engaged in the enlistment of Homoeopathy and its Classical approach. 
<p>
We have treated a large number of chronic cases like asthma, rheumatism, hypertension, diabetes, HIV and Cancer. We have found that even in terminal cases of cancer homoeopathy can give a better palliation than any pain killer available in market and will ensure a quality life for them. Cases of HIV with our treatment, a considerable improvement in CD4 count was found and also there has been Steady improvement in health of HIV patients.
<p>
There has been a success rate of 90% in the cases we handle and all our patients have expressed their satisfaction in our method of approach and treatment. We would also like to thank everyone who have supported and helped us in treating the patients free of cost, through their generous contributions.
</p>
<p>
You may <b><a href="http://railstutorial.org/contact">Contact us</a></b> at our email address: prajaktagirnar@rediffmail.com
</p>
      
    </pre>
  </body>
</html>