<% provide(:title, 'Contact') %>
    <h1>Contact Us</h1>
    <p>
       <table width="100%" align="center" border="2" cellpadding="2" cellspacing="2" class="fortbl">
                <tr>
                    <td  colspan="2" align="center" class="MenuHeading">
                        <strong>Contact us for treatment or advice. </strong>
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="25%">
                        <strong> By Post or in Person </strong>
                    </td>
                    <td class="body_text" width="75%">
                        <a href="../chairman" class="messagePageLink">Director.</a>
                        Dr. Prajakta Homeo <br />
                        4-D-4, Housing Board,<br />
                        Shastri Nagar, Jaipur,   <br />
                        Rajasthan, India. PIN - 302016
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="35%">
                        <strong>Phone No.</strong>
                    </td>
                    <td class="body_text" width="75%">
                        +91- 141- 230-2716 <br />
                        +91- 9460-389429<br />
                        <strong> (For emergency call :+ 91-9460-389429)</strong>
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="35%" >
                        <strong>e-mail</strong>
                    </td>
                    <td class="body_text" width="75%" >
                        <a href="emailto:prajaktagirnar@rediffmail.com" class="link">prajaktagirnar@rediffmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td class="body_text" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="35%">
                        <strong>Time of Consultation </strong>
                    </td>
                    <td class="body_text" width="75%">
                        1) 9:30 Pm to 8:30 Pm. (weekdays)<br />
                        <strong><font color="red"> SUNDAY is HOLIDAY</font> </strong>
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="35%">
                        <strong>Consultation With Prior Appointment </strong>
                    </td>
                    <td class="body_text" width="75%">
                        Please call +91-9460-389429 and meet us at your convenience.
                    </td>
                </tr>
                <tr>
                    <td class="body_text" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="35%">
                        <strong>Consultation For Fertility Care </strong>
                    </td>
                    <td class="body_text" width="75%">
                        We consider this as a very important mission.<br />
                        Couple should meet us with a prior appointment only.<br />
                        Please call +91-9460-389429, or <br />
                        email to   <a href="emailto:prajaktagirnar@rediffmail.com" class="link">prajaktagirnar@rediffmail.com</a>  for appointment.
                    </td>
                </tr>
                <tr>
                    <td class="body_text" colspan="2">
                    </td>
                </tr>
                <tr>
                    <td class="body_text" width="35%">
                        <strong>Consultation via Video conference </strong>
                    </td>
                    <td class="body_text" width="75%">
                        <font color="red">
                        Conference call using SKYPE. </font><br />
                        user name :<font color="red" class="link">prajakta.jayaswal </font><br />
                        please goto <a href="http://www.skype.com/intl/en/" class="messagePageLink" target="_blank"> http://www.skype.com/intl/en/ and install Skype in your computer.</a><br />
                        Prior fixing of time is required and patient need to pay suitable <a href="#" class="messagePageLink">Donations</a> to the trust.
                    </td>
                </tr>                
            </table>
    </p>
  