<% provide(:title, 'Disclaimer') %>
   <h1>Disclaimer by Drprajakta.in</h1>
<p>
All information provided on this site, particularly any information relating to specific medical
conditions, health care, preventive care, homeopathy,homeopathic medicine, and healthy lifestyles, is presented
for general informational purposes only. It should not be considered complete or exhaustive and does not cover
all disorders or conditions or their treatment, nor all health-related issues. </br>
<p>
The information provided on Drprajakta.in is not intended as a substitute for the advice provided by your
own physician or health care provider, and may not necessarily take your individual health situation
into account. You should not use the information on Drprajakta.in as a means of diagnosing a health
problem or disease, or as a means of determining treatment. You should also not use the information
on Drprajakta.in as a substitute for professional medical advice when deciding on any health-related
regimen, including diet or exercise. You should always consult a your own licensed health care
provider for these purposes, or for any specific, individual medical advice.</br>
<p>
Drprajakta.in cannot be held responsible in any way for the contents of our open, interactive
discussion forum. Its open nature makes it impossible to keep a constant control of the opinions
filed and expressed.</br>
<p>
While Drprajakta.in makes reasonable efforts to include accurate and up-to-date information on our
site, the information you access through this site is provided “AS IS” and without warranty,
express or implied. Drprajakta.in makes no warranty as to the reliability, accuracy, timeliness,
usefulness or completeness of any information accessed through our site. Drprajakta.in  assumes no
liability or responsibility for any errors or omissions in the content of this site. To the fullest
extent permissible pursuant to applicable law, Drprajakta.in disclaims all express or implied
warranties related to this site, included but not limited to implied warranties or merchantability
and fitness for a particular purpose.</br>

<p>By using the Drprajakta.in site, you agree not to rely solely on any of the information
  contained herein. Under no circumstances, including but not limited to negligence, shall
  Drprajakta.in be liable for your reliance on any such information, nor shall Drprajakta.in
  be liable for any direct, incidental, special, consequential, indirect or punitive damages that
  result from the use of, or the inability to use, the materials in this site or the materials
  in any site linked to the Drprajakta.in site, even if Drprajakta.in or its authorized
  representatives have been advised of the possibility of such damages.
  Your use of the Drprajakta.in site is at your own risk.</br>

<p>We have not reviewed all of the sites that may be linked to the Drprajakta.in site,
  and are not responsible for the content of any off-site, linked pages or any other sites
  linked to our site. Drprajakta.in assumes no responsibility or liability arising from the
  contents of any off-site pages or sites, or for any error, defamation, libel, slander, omission,
  falsehood, obscenity, pornography, profanity, danger or inaccuracy contained in any information
  therein. Your access of any off-site content linked to this site is at your own risk.</br>

<p>Drprajakta.in site visitors are prohibited from posting or transmitting any unlawful,
  threatening, libelous, defamatory, obscene, inflammatory, pornographic or profane material or
  any material that could constitute or encourage conduct that would be considered a criminal
  offense, give rise to civil liability, or otherwise violate the law. However, Drprajakta.in
  is not responsible for the conduct of its individual site visitors. Your contact with any
  other Drprajakta.in site visitors and any information they communicate to you or others is at
  your own risk.</br>

<p>Drprajakta.in can not and does not warrant that the functions or information contained in
  the Drprajakta.in site will be uninterrupted or error-free, or that defects will be corrected.
  Drprajakta.in  can not and does not warrant against human and machine errors, omissions, delays,
  interruptions or losses, including loss of data. Hpathy.com  can not and does not guarantee
  or warrant that files available for downloading from this online site will be free of infection
  or viruses, worms, Trojan horses or other code that manifest contaminating or destructive
  properties.
<p>Drprajakta.in reserves the right to block or remove communications or materials from this site
  that are determined to be abusive, defamatory or obscene; fraudulent, deceptive, or misleading;
  in violation of a copyright, trademark or other intellectual property right of another; or
  offensive or otherwise unacceptable to Drprajakta.in at its sole discretion.</br>
<p>Drprajakta.in reserves the right to block or remove communications or materials from this site
  that are determined to be abusive, defamatory or obscene; fraudulent, deceptive, or misleading;
  in violation of a copyright, trademark or other intellectual property right of another; or
  offensive or otherwise unacceptable to Drprajakta.in at its sole discretion.</br>

<br/><hr>
<h1> Online Consultation Policies/Disclaimer </h1>
To avail the facility of online consultation, please study the general terms & conditions given below.
Please consult us only if the terms are acceptable to you.
<p>
Terms of Use
<br />
> Information and opinions expressed on this website may be those of the doctors who have written them
on the base of their education and experiences. Dr. Prajakta Jayaswal takes no responsibility
whatsoever of the consequences experienced by the patients who may use the information provided
on this website.
<p>
> If you find any content on this website which is objectionable please 
<b><u>send us an email</u></b>
<p>
> All cases taken up for treatment &/or consultation are studied in detail using a special software.
<p>
> The best quality of medicines is used for dispensing.
<p>
> The medicines if asked for, will be delivered to the patient by courier.
<p>
> Since the consultation &/or treatment will have to take place without physical examination
of the patient & without actually seeing the patient's past medical records & investigation
reports, it is not possible to offer a 100% guarantee of cure.So please note that we do not
claim to cure each and every case, nor do we guarantee any magical cure.
<p>
> In case of being unable to achieve a cure, the patient or his/her relatives will have no right to ask for any
financial &/or other claims/damages. However, in case a patient has already paid for any of the
quarterly, six monthly or yearly packages, the money for the remaining duration of the
treatment package will be refunded.
<p>
> As has been mentioned elsewhere in this site, homeopathic medicines when taken under the guidance
of a qualified homeopathic physician is free from side-effects. Hence any untoward development
taking place during the period of treatment will not be blamed on the medicines or consultation
offered & the patient will have no right to ask for any damages with respect to the same.
<p>
I hope my readers can appreciate the need for inclusion of the above disclaimers due to the nature of online consultation, though it does sound a little harsh in context of the noble profession of a doctor.
All legal matters subject to the jurisdiction of Jaipur, India only.
</p>

