<% provide(:title, 'FAQs') %>
<strong><h1>FAQs</h1></strong>
       <table width="100%" border="0"  cellpadding="4" cellspacing="4">
      <tr>
        <td width="592" height="28"  id="history"><a href="#history1" onmouseover="MM_changeProp('history','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('history','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;The history of homeopathy</a></td>
      </tr>
      <tr>
        <td height="22"  id="illnesses"><a href="#illnesses1" onmouseover="MM_changeProp('illnesses','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('illnesses','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;Which illnesses and conditions can be treated with  homeopathy? </a></td>
      </tr>
      <tr>
        <td height="22"  id="benefit"><a href="#benefit1" onmouseover="MM_changeProp('benefit','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('benefit','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;Who can benefit from homeopathic  treatments?</a></td>
      </tr>
       <tr>
        <td height="22"  id="safe"><a href="#safe1" onmouseover="MM_changeProp('safe','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('safe','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;Are homeopathic remedies  safe?</a></td>
      </tr>
      <tr>
        <td height="22"  id="made"><a href="#made1" onmouseover="MM_changeProp('made','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('made','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;How are the homeopathic remedies made?</a></td>
      </tr>
       <tr>
        <td height="22"  id="dilute"><a href="#dilute1" onmouseover="MM_changeProp('dilute','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('dilute','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;If the homeopathic remedies are so dilute, how can they work?</a></td>
      </tr>
      <tr>
        <td height="22"  id="harmful"><a href="#harmful1" onmouseover="MM_changeProp('harmful','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('harmful','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;Are there harmful side effects from taking a homeopathic remedy?</a></td>
      </tr>
       <tr>
        <td height="22"  id="physician"><a href="#physician1" onmouseover="MM_changeProp('physician','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('physician','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;Do I still need to see my physician?</a></td>
      </tr>
      <tr>
        <td height="22"  id="information"><a href="#information1" onmouseover="MM_changeProp('information','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('information','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;More information about the principles behind homeopathy </a></td>
      </tr>
       <tr>
        <td height="22"  id="healing"><a href="#healing1" onmouseover="MM_changeProp('healing','','backgroundColor','#d7e36d','TD')" onmouseout="MM_changeProp('healing','','backgroundColor','#e7eea7','TD')">&nbsp;&nbsp;>&nbsp;The healing action of homeopathic remedies</a></td>
      </tr>  <br />
      <tr><td></br> </td></tr>
   <table style="align:center" border="1" cellpadding="2" cellspacing="2" class="SubContent">
     <tr>
       <td><br />
    <h2>The history of homeopathy</h2>

Homeopathy is a system of natural medicine that was first mentioned by Hippocrates (462-377 BC).  The basic principles as we understand them today were established over 200 years ago by Dr. Samuel Hahnemann, a German physician and chemist. While researching the curative properties of cinchona bark on malaria, Dr. Hahnemann recognized that cinchona can induce malaria-like symptoms in a healthy person, and can cure malaria. Based on this discovery, he developed a theory that ‘like cures like.’ In other words, substances which might cause symptoms in a healthy person are used to cure the same symptoms as experienced by a person who is ill.  This concept became the basis of homeopathy.  <br />
Dr. Hahnemann went on to apply this concept to other natural substances, and used techniques like serial dilutions and systematic mixing through vigorous shaking (succussion). The resulting homeopathic remedy contains a memory of the original natural substance, and the final product keeps the healing characteristics of the initial product, but without side effects.<br /><br />
Today, homeopathy is practiced worldwide.  While its popularity is growing slowly in North America, it has been widely accepted in Europe, Pakistan, India, South America and Asia.  It has been integrated into the national health care systems of many countries, including Mexico, Pakistan, India, Sri Lanka and the UK. <br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
<h2>Which illnesses and conditions can be treated with homeopathy?</h2>
<p align="left">
    Homeopathy and acupuncture can be used to help people with a wide range of illnesses and conditions, including:<br /><br />
•	over-active immune systems <br />
•	sports injuries<br />
•	chronic conditions<br />
•	recurring minor illnesses<br />
•	surgery support and healing<br />
•	winter flu, coughs or colds<br />
•	sore throats, tonsillitis, frequent colds and infections<br />
•	constipation, diarrhea or other digestive problems including irritable bowel syndrome (IBS)<br />
•	low self-confidence<br />
•	obsessive/compulsive behaviour<br />
•	apathy, unhappiness, discontentment, mood swings, irritability, loss of motivation, depression<br />
•	stress management, performance anxiety, exam nerves <br />
•	grief <br />
•	anger<br />
•	social and other phobias<br />
•	panic attacks<br />
•	insomnia<br />
•	seasonal affective disorder (SAD)<br />
•	addictions <br />
•	headaches, migraines<br />
•	weak memory, forgetfulness, poor concentration<br />
•	degenerative conditions like Alzheimer's<br />
•	chronic fatigue<br />
•	eczema, psoriasis, acne and other skin problems<br />
•	candida overgrowth (thrush and yeast infections)<br />
•	ingrown toenails <br />
•	alopecia (baldness)<br />
•	infertility<br />
•	pregnancy and childbirth<br />
•	PMT or PMS, complaints relating to menopause<br />
•	joint problems<br />
•	autistic spectrum disorders<br />
•	HIV/AIDS<br />
•	multiple sclerosis (MS)<br />
•	piles<br />
•	lifestyle changes<br />
•	insulin resistance <br />
•	non-insulin dependent diabetes<br /><br />
If you do not see your condition in the list above, please contact Dr. Prajakta for more information.
</p><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>Who can benefit from homeopathic  treatments?</h2>
 
   <h3>Babies</h3>

Homeopathy and acupuncture treatments may provide a gentle, effective, drug-free solution to help babies who are suffering from many ailments, including<br />
•	colic<br />
•	teething<br />
•	projectile vomiting<br />
•	failure to thrive<br />
•	eczema<br />
•	sleep problems<br /><br />

<h3>Children and teenagers</h3>

Homeopathy and acupuncture treatments may help children and teenagers who are<br />
•	suffering from allergies, intolerances or sensitivities<br />
•	experiencing recurring minor illnesses<br />
•	not quite reaching development targets<br />
•	resistant to taking traditional medicines<br />
•	struggling with behaviourial, attentional or psychological issues<br />
•	making lifestyle choices that are affecting their wellbeing<br />
•	chronically tired<br />
•	facing long term illnesses or disorders<br /><br />

<h3>Pregnant women</h3>

Physical and emotional changes during pregnancy may cause health problems such as nausea, mild urinary problems, diarrhea, heartburn, anemia, varicose veins, backache, cramps, constipation or emotional distress.<br />

Professional homeopathic and acupuncture treatments can be used to treat all these problems as well as other more complicated symptoms such as raised blood pressure.<br />

These treatments are ideal for pregnant women, as they are very gentle and natural, and have no negative side effects for the mother or the unborn child.  Treatments can continue after childbirth to stimulate healing, and to help manage difficulties with breastfeeding, post-natal ‘blues’ and exhaustion.<br /><br />

<h3>Adults</h3>

Homeopathy and acupuncture treatments may help you if:<br />
•	You are chronically unwell, and have exhausted your options in traditional medicine but are still sick.<br />
•	You are trying to avoid taking antidepressants, sleeping tablets or tranquilizers. <br />
•	You are searching for natural solutions to menstrual difficulties, infertility or PMT/PMS.<br />
•	You are looking for a health care provider who will take the time to listen to you. <br />
•	You appreciate that treatment is a journey and are ready to make personal development and lifestyle changes.<br />
•	You are aware your lifestyle is affecting your health and you want advice about the most effective lifestyle changes to make.<br />
•	You have a serious disabling illness (MS, diabetes, arthritis, Crohn's disease, ulcerative colitis, heart disease and others) and you know your orthodox care is necessary but you want to keep treatment as natural as possible.<br />
•	You are curious about alternative medicine and would like to know more about what it is, how it works, and seek guidance as to whether it's suitable for you. <br />
•	You realize that your body can fix itself with the right help.<br />
•	You are in search of an immune system boost to stop the cycle of recurring illnesses.<br />
•	You are hoping to minimize the side effects of traditional treatments such as chemotherapy.<br />
•	You are looking for a natural way to relieve post-surgical pain.<br />
•	You want support with managing your disorder and treatment to help your body rebalance and strengthen even while you are taking conventional medicines.<br />
•	You have recently been diagnosed with cancer or another serious disease and you need support as you grieve for your lost health, and help to understand where to go from here.<br />
•	You are seeking alternatives to  over-the-counter drugs for recurrent minor illnesses such as coughs, colds, sore throats, allergies, cystitis, thrush, eczema, headaches, acne, piles, etc., since these drugs often don’t provide a permanent cure, though they may suppress symptoms temporarily.<br />
•	You are suffering from work-related stress and you need practical solutions to help you cope with demands on your system.<br />
•	You want to do all you can to slow down the pace of ageing, support your system to cope with multiple medicines, or stay drug-free and active into your later years.<br />
•	You have exhausted your options in the healthcare system; you're worn out and ill, and would like help to manage your condition.
 <br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>Are homeopathic remedies  safe?</h2>   
    Yes. Homeopathic remedies and acupuncture are very safe for people of all ages, even for pregnant and sensitive patients. There is no danger of addiction or toxicity.  Both modalities can also be used to treat animals. <br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>How are the homeopathic remedies made?</h2>
     Homeopathic remedies come from the plant, mineral and animal worlds. They are made through a process of serial dilutions, where the original substance is diluted in water and is 'succussed', meaning that it is energized by shaking. The resultant remedy solution is then diluted and succussed again. This process is done repeatedly, sometimes hundreds or thousands of times, resulting in an extremely dilute and highly energetically potent remedy.<br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>If the homeopathic remedies are so dilute, how can they work?</h2>   
    After each dilution, the mixture is vigorously shaken by hand, or in a machine that delivers a calibrated amount of shaking. This is called succussion. It is thought that this process imprints the healing energy of the medicinal substance throughout the body of water (the diluent) as if a message is passed on. The message contains the healing energy. Even after many dilutions, it seems that information specific to the original dissolved substance remains.  <br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>Are there harmful side effects from taking a homeopathic remedy? </h2>    
    Homeopathic remedies do not have the harmful side effects associated with many conventional medications. However, the remedies are powerful energetic stimuli and must be used carefully. Sometimes, a person will experience a temporary intensification of symptoms or a reappearance of a previous symptom.  Although this might be alarming for a patient, in homeopathy, this is considered a part of the healing process.  As a result, it is very important for the patient and homeopath to maintain good communication. <br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>Do I still need to see my physician?</h2>    
    Yes. It’s wise to maintain your relationship with your physician, as he/she is able to provide a diagnosis of your condition, and can order investigative tests that a homeopath or acupuncturist cannot provide. Many people who explore the options provided by alternative medicine are already taking conventional medication with the goal of reducing or eliminating the medication. With the proper remedy and treatment plan, this may be possible, but this depends on your condition and must be done with great care. Dr. Barreto prefers to work in an integrated way with your physician if possible. <br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>More information about the principles behind homeopathy </h2>    
    Classical Homeopathy is based on four principles:<br /> <br />

<h3>1. Similia Similibus Curentur (The Law of Similars)</h3>
Any patient who is ill can be treated with a substance that produces similar symptoms in a healthy person. This principle originates back to Hippocrates in the 5th century.  Two hundred years ago, Samuel Hahnemann was the first to perform scientific tests and establish a system of medicine based on the idea.<br /><br />

<h3>2. Experimenta in homine sano</h3>
To determine their medicinal value, Hahnemann conducted ‘provings,’ in which he tested substances on groups of healthy people (a novel idea at the time).  In his lifetime, Hahnemann developed scientific protocols for the provings, and studied the effects of over 100 substances on healthy subjects.  Since then, hundreds of other substances have been tested, and the effects they cause on healthy individuals have been minutely recorded.  Homeopaths conducting provings in the 1880’s introduced the concept of ‘placebos’ to help recognize symptoms that might come from factors other than the substance being tested.<br /><br />

<h3>3. Minimal dose</h3>
The optimal dose is the smallest amount possible depending on the individual and the condition being treated. To reduce the possibility of making the symptoms worse, Hahnemann diluted his remedies using a specialized process of shaking them (succussion).  The complete process of dilution and succussion was called potentization.  The final potency of the remedies is shown by the number on the bottles.  For example, 6C indicates that the remedy was diluted 6 times in a 1:99 dilution.<br /><br />

<h3>4. Unitas remedii</h3>
Administer one single remedy at a time to the patient.<br />

Samuel Hahnemann named his new science ‘homeopathy,’ meaning ‘similar suffering’ in Greek.  His ideas make sense, for example, when thinking about a disorder caused by a foreign invader, be it a toxin, allergen or infectious agent.  The substance that produces similar symptoms is like a catalyst that helps push the body towards healing itself by causing the symptoms minutely, without adding to the pathogenic load.  With the help of this catalyst, the body establishes balance (homeostasis).<br /><br />

For more information and a deeper discussion of the science of homeopathy, a number of pages of a book called Complementary and alternative medicine for older adults are available online.  Chapter 4 (p. 79-96) provides a comprehensive and readable overview of homeopathy.
<br /><br />
<a href="#questions">^ Go to other questions</a>
<br /><hr>
    <h2>The healing action of homeopathic remedies</h2>
    
    A homeopath will select a remedy based on a patient’s symptoms and by looking at the patient as a whole.  Choosing the right medication and the right dilution is fundamental to restoring health. After this, the homeopath will follow the patient’s symptoms carefully, noting changes including the disappearance and appearance of old and new symptoms. In homeopathy, the Law of Cure is used to evaluate the effectiveness of a remedy.  If the treatment is successful, the following progressions should appear:<br /><br />

<h3>A remedy works from within the body outward, and from major to minor organs</h3><br />

<h3>A remedy starts at the top of the body and works downward</h3><br />

<h3>Symptoms clear in reverse order of appearance.</h3><br /><br />

New symptoms are the first to heal and some old symptoms could reappear temporarily.  Although this might be alarming for a patient, in homeopathy, this is considered a part of the healing process.  As a result, it is very important for the homeopath to maintain good communication with the patient.
 <br /><br />
<a href="#questions">^ Go to other questions</a>

    </td></tr></table>
       </tr></table>
    </p>
    </center>