<% provide(:title, 'Sitemap') %>
<html>
  <head>
   
  </head>
  <body>
    <h1>Sitemap</h1>
    <p>
     </center>  
	  <table border="1" cellpadding="2" cellspacing="2" class="SubContent">
        <tr>
          <th><a href="/html/Resources/Institutes_Hospitals.asp">Institutes And Hospitals</a></th>
          <th><a href="/html/Resources/Organizations.asp">Certification Organizations</a></th>
        </tr>
        <tr>
          <td> List of Educational Institures and Hospitals worldwide...<br />
            <a href="/html/Resources/Institutes_Hospitals.asp">More about Homeopathic Institutes, Hospitals and Clinics.</a></td>
          <td>There are many training programs and courses in Homeopathy in the United States   and abroad; the field is very fluid at present...<br />
            <a href="/html/Resources/Organizations.asp">More about Homeopathic Certification Organizations.</a></td>
        </tr>
        <tr>
          <th><a href="/html/Resources/Books.asp">Books On Homeopathy</a></th>
          <th><a href="/html/Resources/Web_Sites.asp">Related Web Sites</a></th>
        </tr>
        <tr>
          <td>List of useful books written by many great authors...<br />
            <a href="/html/Resources/Books.asp">More about Homeopathic Books.</a></td>
          <td>List of web sites offering research work...<br />
            <a href="/html/Resources/Web_Sites.asp">More about Homeopathic Websites.</a></td>
        </tr>
        <tr>
          <th><a href="/html/Resources/Journals_Publishers.asp">Journals And Publishers</a></th>
          <th><a href="/html/Resources/HNews.asp">Latest Homeopathic News</a></th>
        </tr>
        <tr>
          <td>List of Journals and Publishers worldwide...<br />
            <a href="/html/Resources/Journals_Publishers.asp">More about Homeopathic Journals and Publishers.</a></td>
          <td>Latest Homeopathic News from various publishers...<br />
            <a href="/html/Resources/HNews.asp">More about Homeopathic Worldwide News.</a></td>
        </tr>
      </table>
	  <!-- InstanceEndEditable --><br />
    </p>
  </body>
</html>