 <footer class="footer">
  <nav>
    <ul>
      <li>Copyright &copy; 2013</li>
      <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
      <li><%= link_to "Home", root_path %> |</li>
      <li><%= link_to "About Homeopathy", about_homeopathy_path %> |</li>     
      <li><a href="about">About Us</a> |</li>
      <li><a href="contact">Contact Us</a> |</li>         
      <li><a href="#">Terms and Conditions</a> |</li>
      <li><a href="#">Privacy Policy</a> |</li>
      <li><%= link_to "Help", help_path %> |</li>
      <li><a href="#">Sitemap</a> |</li>
      <li><a href="#">FAQs</a> </li>
    </ul>
  </nav>
</footer>