 <footer class="footer">
  <nav>
    <ul>
      <li>Copyright &copy; 2013 Drprajakta.in. All Rights Reserved</li>
      <li><%= link_to "Home", root_path %> |</li>
      <li><%= link_to "Homeopathy", about_homeopathy_path %> |</li>     
      <li><a href="about">About Us</a> |</li>
      <li><a href="contact">Contact Us</a> |</li>        
      <li><a href="disclaimer">Disclaimer</a> |</li>
      <li><%= link_to "Help", help_path %> |</li>
      <li><a href="sitemap">Sitemap</a> |</li>
      <li><a href="faq">FAQs</a> </li>
    </ul>
  </nav>
</footer>