 <footer class="footer">
  <small>
   <p class="footer_text">
<p class="footer_copy">Copyright &copy; 2013 </p>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About Us",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://net.tutsplus.com/advertise/">Advertise</a></li>
      <li><a href="http://www.formstack.com/forms/envato-tuts__contact_form">Suggestions</a></li>
      <li><a href="http://net.tutsplus.com/about/tuts-terms-user-agreement/">Terms and Conditions</a></li>
      <li><a href="/about/privacy-policy/">Privacy Policy</a></li>
      <li><a href="http://net.tutsplus.com/about/write-a-tutorial/">Write for Us</a></li>
    </ul>
  </nav>
</footer>